<!DOCTYPE html>
<html>
<head>
  <title>Buggy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body role="document">


  <nav id="header" class="navbar navbar-default" role="navigation"></nav>
  <div class="container">
    <div id="content"></div>
    <footer id="footer"></footer>
  </div>


<%= yield %>

</body>
</html>
